@charset "UTF-8";
* {margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none;}
.hd_wrap{width: 1000px; margin:0 auto}
.tnb .right{ float: right;}    
.tnb .left{ float: left;}
.tnb .left li {margin-right: 20px;}
.tnb .right li {margin-left: 20px;}
.logo {display:block; position:absolute; top:5px; left: 50%; margin-left:-50px;}    
.vs { clear:both; width:100%; max-height:600px; overflow:hidden;  } /* width:1000px; */
.vs .img_box { width: 400%; }  /* width:4000px; */
.vs .img_box li { width: 25%; float:left; position:relative; } /* width:1000px; */
.vs .img_box li .vs_img { display:block; width: 100%; height:auto; }
.vs .tit_box { width: 100%; height:100%; position:absolute; top: 0; left: 0; z-index:20; }
.vs_tit { padding-left: 30%; color:#fff; font-size:40px; padding-top: 120px; }
.vs_com { padding-left: 30%; padding-right: 30%; color:#fff; font-size:18px; padding-top: 40px; max-height:200px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical;}
.more { margin-left: 30%; color:#fff; font-size:18px; display:block; 
width: 120px; height: 40px; line-height: 40px; text-align:center; 
border-radius:24px; background:rgba(45,45,45,0.75); margin-top: 50px; }

/*
float:블록요소의 배치방향흐름 지정 - none | left | right
clear:배치방향 지정한 것을 해제 - none | left | right | both
position: 위치기준 속성 - static | relative | absolute | fixed | sticky
    모든 요소의 position은 static 으로 설정
    1) static : 정적 - 콘텐츠가 있는 만큼 차례대로 쌓이도록 위치기준을 지정 -> float, clear, margin
    2) relative : 상대적 - 콘텐츠(내부요소포함)가 다른 콘텐츠와 떨어진 거리를 좌표값으로 지정할 때
    -> float, clear, margin
    3) absolute : 절대좌표값으로 배치 -> top/bottom 과 left/right를 이용하여 절대좌표로 배치함. 앞으로 가져오기 또는 뒤로 보내기는 z-index로 설정하며, 그 값이 클수록 앞에 놓이며, 작을 수록 뒤에 놓인다.
    4) fixed : 현재 화면에 고정하도록 화면 기준의 값으로 배치 -> top/bottom 과 left/right를 이용하여 절대좌표로 배치함.  앞으로 가져오기 또는 뒤로 보내기는 z-index로 설정하며, 그 값이 클수록 앞에 놓이며, 작을 수록 뒤에 놓인다.
내부요소가 position:absolute이 되면, 기준점을 현재 html문서의 처음 위치(x=0, y=0) 이 되어 부모의 기준에서 떨어진 거리가 되지 못한다.
    부모의 기준으로 떨어진 거리를 조정하고 싶다면, 부모 요소에 position:relative; 
left : 왼쪽 맨 처음에서 부터 떨어진 거리를 x좌표 값으로 지정
right: 오른쪽 맨 끝에서 부터 떨어진 거리를 x좌표 값으로 지정
top : 위쪽 맨 처음에서 부터 떨어진 거리를 y좌표 값으로 지정
bottom : 아래 맨 끝에서 부터 떨어진 거리를 y좌표 값으로 지정
z-index : 레이어 층 값을 지정할 때 (요소가 화면에서 겹쳤을 때 앞으로 가져오기 또는 뒤로 보내기)
*/

</style>