@charset "utf-8";

/*헤더 영역*/
.hd{clear: both; width: 100%; border-bottom:3px solid rgb(38, 0, 255); height: 120px;}
.wrap{ display: flex; min-height:100vh; flex-direction: column; width:100%;}
.wrap2{ min-height:100vh; width:100%;}
.gnb{clear: both; width: 1000px; margin: 20px auto; }
.menu{clear: both;}
.tnb { float:right; margin-right:20px; }
.tnb li { float:left; margin:10px; }
.tnb li a { color:#333; font-size:14px; font-weight:bold; font-family: 'Noto Sans KR', sans-serif; }
.gnb > ul > li{float:left; margin-top: 10px; width: 20%; text-align: center; position:relative;}
.gnb li a{color:#333; font-size: 18px; font-weight: bold; font-family: 'Noto Sans KR',sans-serif; background-color: #fff; display: block; line-height: 42px;}
.gnb li:hover a{color:rgb(255, 255, 255); background-color: rgb(68, 0, 179);}
.gnb li .sub { visibility:hidden; opacity:0; transition:0.5s; position:absolute; width:200px;z-index:30;}
.gnb li:hover .sub { visibility: visible; opacity:1; }
.gnb .sub li { clear:both; height: 40px; line-height: 40px; text-align:left;}
.gnb .sub li a { font-size:16px; display:block; height: 40px; line-height: 40px; color:#eee; background:rgba(22,22,22,0.8); padding-left:20px; }
.gnb .sub li:hover a { color:orange; }
.art01>ul>li img{width:200px; height:250px;}

/*푸터 영역*/
.content{ flex: 1; } 
footer{padding: 30px 50px 30px 50px; background: #333;color:#fff;}
.ft_wrap{width:1000px;}

