@charset "UTF-8";

h1 { text-align:center; }
.form_join { margin:20px auto; }
.form_join label{margin-left: 100px;}
.fr_tit{font-weight:800; font-size:24px; font-family:'Noto Sans KR', sans-serif; line-height:3;text-align:center;}
.indata {display:block; width:600px; height:50px; margin:20px auto; padding-left:20px;}
.login_frm {width: 1000px; margin:20px auto;}
.agree_frm {width: 1000px; margin:20px auto;}
.join_frm {width: 800px; margin:20px auto;}
.product_frm {width: 1000px; margin:20px auto;}
tbl_product p_indata{display:block; width:100px; height:50px; margin:20px auto; padding-left:20px;}
.tbl_product {width: 1000px; text-align:center;margin:20px auto;padding-left:20px;table-layout : fixed;word-break : break-all;height : auto; }
.tbl_member {text-align:center; margin:20px auto; padding-left:20px; table-layout : fixed ; word-break : break-all ; height : auto;}

.inbtn { display:inline-block; margin: auto; width:240px; margin-right:20px; height:40px; line-height:40px; background-color:#333; color:#fff; border:0; text-align:center; border-radius:22px; }
#wrapper{width: 800px; margin: 0 auto;}
label{display: block;text-align: left;}
th, tr, td{border: 1px solid #333; padding:10px;}
.btn_box{text-align:center;}
.fr_tit{font-weight:800; line-height:3;text-align:center;}
